In [1]:
## 10

filename = "./txtdata/hightemp.txt"
lines = 0

with open(filename, 'r') as f:
    for _ in f:
        lines += 1
        
print(lines)

24

In [2]:
## 11

filename = "./txtdata/hightemp.txt"

with open(filename, 'r') as f:
    for line in f:
        print(line.replace('\t', ' '), end='')

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [3]:
## 12

filename = "./txtdata/hightemp.txt"
col1_fn = "./txtdata/col1.txt"
col2_fn = "./txtdata/col2.txt"

with open(filename, 'r') as fin, open(col1_fn, 'w') as fout1, open(col2_fn, 'w') as fout2:
    for line in fin:
        col1 = line.split('\t')[0]
        col2 = line.split('\t')[1]
        fout1.write(col1 + '\n')
        fout2.write(col2 + '\n')

In [4]:
## 13

filename = "./txtdata/hightemp.txt"
merge_fn = "./txtdata/merge.txt"

with open(col1_fn, 'r') as fin1, open(col2_fn, 'r') as fin2, open(merge_fn, 'w') as fout:
    for col1, col2 in zip(fin1, fin2):
        fout.write(col1.strip() + '\t' + col2.strip() + '\n')

In [5]:
## 14

filename = "./txtdata/hightemp.txt"

N = int(input())
cnt = 0

with open(filename, 'r') as f:
    for line in f:
        print(line, end='')
        cnt += 1
        if cnt == N:
            break

5
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [6]:
## 15

filename = "./txtdata/hightemp.txt"

N = int(input())
cnt = 0

with open(filename, 'r') as f:
    length = len(f.readlines())
    f.seek(0)
    for line in f:
        if cnt >= 24 - N:
            print(line, end='')
        cnt += 1

# 別解: readlines して後ろ N 行をスライスして取ってくる

5
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [7]:
## 16
import math

filename = "./txtdata/hightemp.txt"
N = int(input())

with open(filename, 'r') as fin:
    lines = fin.readlines()

unit = math.ceil(len(lines) / N)

for i in range(N):
    with open("./txtdata/split_{}".format(chr(i+97)), 'w') as fout:
        for line in lines[i*unit:(i+1)*unit]:
            fout.write(line)

5

In [8]:
## 17

filename = "./txtdata/hightemp.txt"

with open(filename, 'r') as fin:
    lines = fin.readlines()
    
col1_set = {line.split('\t')[0] for line in lines}

print(col1_set)

{'岐阜県', '愛媛県', '埼玉県', '千葉県', '大阪府', '高知県', '静岡県', '山梨県', '群馬県', '愛知県', '和歌山県', '山形県'}

In [9]:
## 18

filename = "./txtdata/hightemp.txt"

with open(filename, 'r') as fin:
    lines = fin.readlines()

lines.sort(key=lambda line: line.split('\t')[2], reverse=True)

for line in lines:
    print(line, end='')

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [29]:
## 19
from collections import Counter

filename = "./txtdata/hightemp.txt"

with open(filename, 'r') as f:
    lines = f.readlines()

col1_list = [line.split('\t')[0] for line in lines]
counter = Counter(col1_list)

for k, v in sorted(counter.items(), key=lambda x: x[1], reverse=True):
    print(k, v)

埼玉県 3
山形県 3
山梨県 3
群馬県 3
岐阜県 2
静岡県 2
愛知県 2
千葉県 2
高知県 1
和歌山県 1
愛媛県 1
大阪府 1